  <img src='{{flag}}' alt='{{name}}' height="300px" />
  <p style="margin-left: 10px;">Country: {{name}}</p>
  <p style="margin-left: 10px;">Capital: {{capital}}</p>
  <p style="margin-left: 10px;">Population: {{population}}</p>
  <p style="margin-left: 10px;">Languages: {{#each language}}{{language.name}}{{/each}}</p>